In [2]:
#Imports
import pandas as pd
import numpy as np

In [3]:
airlines = pd.read_csv("../../Summer_Invitational_2023_Datathon_Datasets/airlines.csv")
traffic = pd.read_csv("../../Summer_Invitational_2023_Datathon_Datasets/flight_traffic.csv")
stocks = pd.read_csv("../../Summer_Invitational_2023_Datathon_Datasets/stock_prices.csv")
fares = pd.read_csv("../../Summer_Invitational_2023_Datathon_Datasets/fares.csv")

In [4]:
fares.head()

,quarter,airline_id,origin_airport,destination_airport,distance,10,20,30,40,50,...,2410,2420,2430,2440,2450,2460,2470,2480,2490,2500
0,1,AA,CLT,SGF,708,2,6,11,15,32,...,0,0,0,0,0,0,0,0,0,0
1,1,DL,DTW,SAN,1956,13,4,3,2,8,...,0,0,5,0,0,0,0,0,0,28
2,1,DL,MSP,ISN,546,7,11,14,36,52,...,0,0,0,0,0,0,0,0,0,0
3,1,AA,CLT,RDU,130,2573,1665,927,556,356,...,0,0,0,0,0,0,0,0,0,0
4,1,DL,ATL,RIC,481,112,186,379,650,799,...,0,0,0,0,0,0,0,0,0,0

In [42]:
airlines.head(20)

   airline_id                 airline_name
0          AA       American Airlines Inc.
1          DL         Delta Air Lines Inc.
2          UA         United Airlines Inc.
3          WN       Southwest Airlines Co.
4          HA       Hawaiian Airlines Inc.
5          AS         Alaska Airlines Inc.
6          9K     Hyannis Air Service Inc.
7          BB            Seaborne Airlines
8          KS                       Penair
9          ZK    Great Lakes Aviation Ltd.
10         VX          Virgin America Inc.
11         3M         Silver Airways Corp.
12         B6  Jetblue Airways Corporation
13         MW      Mokulele Flight Service
14         SY              MN Airlines LLC
15         WP                   Island Air
16         7H         Corvus Airlines Inc.
17         F9       Frontier Airlines Inc.
18         NK              Spirit Airlines
19         OO             SkyWest Airlines

In [19]:
traffic.head(20)

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,cancelled,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay
0,2017,1,17,AA,CLT,PHX,1619,1616.0,17.0,1633.0,...,0.0,0.0,277.0,266.0,1773.0,NaN,NaN,NaN,NaN,NaN
1,2017,1,18,AA,CLT,PHX,1619,1614.0,13.0,1627.0,...,0.0,0.0,277.0,247.0,1773.0,NaN,NaN,NaN,NaN,NaN
2,2017,1,19,AA,CLT,PHX,1619,1611.0,17.0,1628.0,...,0.0,0.0,277.0,255.0,1773.0,NaN,NaN,NaN,NaN,NaN
3,2017,1,20,AA,CLT,PHX,1619,1656.0,18.0,1714.0,...,0.0,0.0,277.0,273.0,1773.0,33.0,0.0,0.0,0.0,0.0
4,2017,1,21,AA,CLT,PHX,1619,1632.0,17.0,1649.0,...,0.0,0.0,277.0,266.0,1773.0,NaN,NaN,NaN,NaN,NaN
5,2017,1,22,AA,CLT,PHX,1619,1636.0,27.0,1703.0,...,0.0,0.0,277.0,285.0,1773.0,0.0,0.0,8.0,0.0,17.0
6,2017,1,23,AA,CLT,PHX,1619,1616.0,20.0,1636.0,...,0.0,0.0,277.0,291.0,1773.0,NaN,NaN,NaN,NaN,NaN
7,2017,1,24,AA,CLT,PHX,1619,1619.0,18.0,1637.0,...,0.0,0.0,277.0,285.0,1773.0,NaN,NaN,NaN,NaN,NaN
8,2017,1,25,AA,CLT,PHX,1619,1616.0,23.0,1639.0,...,0.0,0.0,277.0,290.0,1773.0,NaN,NaN,NaN,NaN,NaN
9,2017,1,26,AA,CLT,PHX,1619,1618.0,11.0,1629.0,...,0.0,0.0,277.0,284.0,1773.0,NaN,NaN,NaN,NaN,NaN
10,2017,1,27,AA,CLT,PHX,1619,1613.0,15.0,1628.0,...,0.0,0.0,277.0,269.0,1773.0,NaN,NaN,NaN,NaN,NaN
11,2017,1,28,AA,CLT,PHX,1619,1614.0,13.0,1627.0,...,0.0,0.0,277.0,249.0,1773.0,NaN,NaN,NaN,NaN,NaN
12,2017,1,29,AA,CLT,PHX,1619,1611.0,14.0,1625.0,...,0.0,0.0,277.0,257.0,1773.0,NaN,NaN,NaN,NaN,NaN
13,2017,1,30,AA,CLT,PHX,1619,1614.0,15.0,1629.0,...,0.0,0.0,277.0,262.0,1773.0,NaN,NaN,NaN,NaN,NaN
14,2017,1,31,AA,CLT,PHX,1619,1615.0,18.0,1633.0,...,0.0,0.0,277.0,261.0,1773.0,NaN,NaN,NaN,NaN,NaN
15,2017,1,11,AA,FLL,CLT,1305,1305.0,25.0,1330.0,...,0.0,0.0,123.0,129.0,632.0,NaN,NaN,NaN,NaN,NaN
16,2017,1,12,AA,FLL,CLT,1305,1256.0,24.0,1320.0,...,0.0,0.0,123.0,129.0,632.0,NaN,NaN,NaN,NaN,NaN
17,2017,1,13,AA,FLL,CLT,1305,1312.0,16.0,1328.0,...,0.0,0.0,123.0,119.0,632.0,NaN,NaN,NaN,NaN,NaN
18,2017,1,14,AA,FLL,CLT,1305,1314.0,11.0,1325.0,...,0.0,0.0,123.0,108.0,632.0,NaN,NaN,NaN,NaN,NaN
19,2017,1,18,AA,FLL,CLT,1305,1304.0,19.0,1323.0,...,0.0,0.0,123.0,129.0,632.0,NaN,NaN,NaN,NaN,NaN

In [20]:
stocks.head(20)

,timestamp,AA,UA,B6,OO,AS,NK,WN,DL,HA
0,4/6/18,51.12,69.6501,20.12,55.70,61.44,37.8576,55.865,53.67,40.20
1,4/5/18,52.14,70.6900,20.64,56.05,62.11,38.3000,56.860,54.21,41.20
2,4/4/18,52.04,69.9900,20.48,55.45,61.22,37.7000,56.360,53.86,40.50
3,4/3/18,51.47,69.1900,20.15,54.80,60.11,37.2200,55.970,53.72,38.75
4,4/2/18,49.78,66.7700,19.73,52.75,57.75,36.3500,54.340,51.95,36.85
5,3/29/18,51.96,69.4700,20.32,54.40,61.96,37.7800,57.280,54.81,38.70
6,3/28/18,50.85,67.9100,20.17,53.95,61.57,36.9900,56.250,53.93,38.35
7,3/27/18,50.90,68.1800,19.95,54.30,61.49,37.1900,56.690,54.26,37.15
8,3/26/18,51.86,68.4800,20.48,55.60,62.16,38.2700,57.590,55.06,36.20
9,3/23/18,51.01,67.3900,20.84,54.95,61.88,39.9600,56.720,53.90,35.60
10,3/22/18,52.31,68.4500,21.27,56.85,62.82,41.2700,57.000,54.67,35.40
11,3/21/18,54.09,69.9400,21.78,58.90,64.21,43.1900,57.780,55.95,35.80
12,3/20/18,55.32,70.4800,22.30,59.85,65.19,44.8200,60.690,56.50,36.50
13,3/19/18,54.62,70.1300,22.17,59.55,65.10,44.4400,60.600,55.96,36.95
14,3/16/18,55.40,70.8800,22.59,60.30,66.51,45.1200,60.900,56.69,37.80
15,3/15/18,55.17,70.1400,22.26,58.70,65.92,44.2800,59.940,56.34,36.70
16,3/14/18,55.28,70.7400,22.34,58.50,65.67,44.4200,59.620,56.15,37.35
17,3/13/18,56.23,72.6000,22.35,59.40,68.79,45.0900,60.330,56.59,37.75
18,3/12/18,56.50,72.0000,22.04,58.45,65.78,43.2800,59.760,56.16,36.55
19,3/9/18,56.07,71.5500,22.00,57.95,64.80,43.0000,59.700,56.09,36.35

In [21]:
airline_id = airlines["airline_id"].tolist()
print(airline_id)

['AA', 'DL', 'UA', 'WN', 'HA', 'AS', '9K', 'BB', 'KS', 'ZK', 'VX', '3M', 'B6', 'MW', 'SY', 'WP', '7H', 'F9', 'NK', 'OO', 'C5', 'G4', 'VS', 'NZ', 'EI', 'VA', 'LA', 'TP', 'QF', 'NH', 'AF', 'YX', 'OZ', 'AC', 'YV', 'SQ', '4B', 'FI', 'BA', 'MH', 'LY', 'WS', 'LH', 'QR', 'KL', 'SK', 'EK', 'OK', 'G3', 'JL', 'TK', 'EV', 'SN', 'CZ', 'PR', 'EY', 'AV', 'QX', 'JJ', 'US', 'MQ']

In [38]:
# Create subset of traffic for cancelled flights
cancel = traffic[traffic["cancelled"] != 0]

cancel.tail(40)

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,cancelled,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay
5660403,2017,12,21,UA,OGG,LAX,2305,NaN,NaN,NaN,...,1.0,0.0,323.0,NaN,2486.0,NaN,NaN,NaN,NaN,NaN
5662580,2017,12,20,UA,IAH,SFO,1230,NaN,NaN,NaN,...,1.0,0.0,265.0,NaN,1635.0,NaN,NaN,NaN,NaN,NaN
5662974,2017,12,20,UA,TYS,EWR,1131,NaN,NaN,NaN,...,1.0,0.0,122.0,NaN,631.0,NaN,NaN,NaN,NaN,NaN
5663658,2017,12,19,UA,CLE,ORD,1100,NaN,NaN,NaN,...,1.0,0.0,91.0,NaN,316.0,NaN,NaN,NaN,NaN,NaN
5665563,2017,12,5,UA,BOS,LAX,1750,NaN,NaN,NaN,...,1.0,0.0,416.0,NaN,2611.0,NaN,NaN,NaN,NaN,NaN
5665675,2017,12,5,UA,LAX,BOS,821,NaN,NaN,NaN,...,1.0,0.0,334.0,NaN,2611.0,NaN,NaN,NaN,NaN,NaN
5667076,2017,12,4,UA,ORD,DCA,1400,NaN,NaN,NaN,...,1.0,0.0,119.0,NaN,612.0,NaN,NaN,NaN,NaN,NaN
5667091,2017,12,4,UA,DCA,ORD,1745,NaN,NaN,NaN,...,1.0,0.0,137.0,NaN,612.0,NaN,NaN,NaN,NaN,NaN
5667236,2017,12,4,UA,DEN,EWR,1245,NaN,NaN,NaN,...,1.0,0.0,223.0,NaN,1605.0,NaN,NaN,NaN,NaN,NaN
5670337,2017,12,2,UA,IAD,ORD,1010,NaN,NaN,NaN,...,1.0,0.0,119.0,NaN,588.0,NaN,NaN,NaN,NaN,NaN
5671045,2017,12,2,UA,EWR,IAD,605,NaN,NaN,NaN,...,1.0,0.0,89.0,NaN,212.0,NaN,NaN,NaN,NaN,NaN
5671424,2017,12,18,UA,ATL,EWR,545,NaN,NaN,NaN,...,1.0,0.0,130.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5671823,2017,12,18,UA,IAH,EWR,1015,NaN,NaN,NaN,...,1.0,0.0,200.0,NaN,1400.0,NaN,NaN,NaN,NaN,NaN
5672516,2017,12,18,UA,IAH,MFE,1835,NaN,NaN,NaN,...,1.0,0.0,78.0,NaN,316.0,NaN,NaN,NaN,NaN,NaN
5672721,2017,12,18,UA,EWR,IAH,1710,NaN,NaN,NaN,...,1.0,0.0,232.0,NaN,1400.0,NaN,NaN,NaN,NaN,NaN
5672807,2017,12,18,UA,ATL,SFO,705,NaN,NaN,NaN,...,1.0,0.0,326.0,NaN,2139.0,NaN,NaN,NaN,NaN,NaN
5673207,2017,12,17,UA,ATL,SFO,1912,NaN,NaN,NaN,...,1.0,0.0,333.0,NaN,2139.0,NaN,NaN,NaN,NaN,NaN
5673214,2017,12,17,UA,ATL,EWR,2030,NaN,NaN,NaN,...,1.0,0.0,140.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5673227,2017,12,17,UA,ATL,IAD,1433,NaN,NaN,NaN,...,1.0,0.0,111.0,NaN,534.0,NaN,NaN,NaN,NaN,NaN
5673254,2017,12,17,UA,ATL,EWR,1333,NaN,NaN,NaN,...,1.0,0.0,142.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5673311,2017,12,17,UA,ATL,EWR,1828,NaN,NaN,NaN,...,1.0,0.0,141.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5673358,2017,12,17,UA,ORD,ATL,1345,NaN,NaN,NaN,...,1.0,0.0,119.0,NaN,606.0,NaN,NaN,NaN,NaN,NaN
5673364,2017,12,17,UA,ATL,DEN,1615,NaN,NaN,NaN,...,1.0,0.0,207.0,NaN,1199.0,NaN,NaN,NaN,NaN,NaN
5673402,2017,12,17,UA,MFE,IAH,1724,1715.0,NaN,NaN,...,1.0,0.0,79.0,NaN,316.0,NaN,NaN,NaN,NaN,NaN
5673485,2017,12,17,UA,SBA,SFO,815,NaN,NaN,NaN,...,1.0,0.0,73.0,NaN,262.0,NaN,NaN,NaN,NaN,NaN
5673501,2017,12,17,UA,EWR,ATL,1555,NaN,NaN,NaN,...,1.0,0.0,157.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5673547,2017,12,17,UA,EWR,ATL,2035,NaN,NaN,NaN,...,1.0,0.0,155.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5673618,2017,12,17,UA,IAH,ATL,1155,1151.0,17.0,1208.0,...,1.0,0.0,129.0,NaN,689.0,NaN,NaN,NaN,NaN,NaN
5673620,2017,12,17,UA,ATL,EWR,1930,NaN,NaN,NaN,...,1.0,0.0,142.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5673674,2017,12,17,UA,IAH,ATL,1430,NaN,NaN,NaN,...,1.0,0.0,125.0,NaN,689.0,NaN,NaN,NaN,NaN,NaN
5673753,2017,12,17,UA,ATL,ORD,1707,NaN,NaN,NaN,...,1.0,0.0,134.0,NaN,606.0,NaN,NaN,NaN,NaN,NaN
5673761,2017,12,17,UA,ATL,EWR,1604,NaN,NaN,NaN,...,1.0,0.0,142.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5673794,2017,12,17,UA,DEN,ATL,1241,NaN,NaN,NaN,...,1.0,0.0,172.0,NaN,1199.0,NaN,NaN,NaN,NaN,NaN
5673849,2017,12,17,UA,ATL,IAH,1731,NaN,NaN,NaN,...,1.0,0.0,142.0,NaN,689.0,NaN,NaN,NaN,NaN,NaN
5673922,2017,12,17,UA,ATL,IAH,1900,NaN,NaN,NaN,...,1.0,0.0,143.0,NaN,689.0,NaN,NaN,NaN,NaN,NaN
5674013,2017,12,17,UA,EWR,ATL,1659,NaN,NaN,NaN,...,1.0,0.0,155.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN
5674141,2017,12,17,UA,IAH,MFE,1835,NaN,NaN,NaN,...,1.0,0.0,78.0,NaN,316.0,NaN,NaN,NaN,NaN,NaN
5674255,2017,12,17,UA,SFO,ATL,1033,1030.0,NaN,NaN,...,1.0,0.0,280.0,NaN,2139.0,NaN,NaN,NaN,NaN,NaN
5674264,2017,12,17,UA,SFO,ATL,2233,NaN,NaN,NaN,...,1.0,0.0,272.0,NaN,2139.0,NaN,NaN,NaN,NaN,NaN
5674477,2017,12,17,UA,EWR,ATL,1346,NaN,NaN,NaN,...,1.0,0.0,146.0,NaN,746.0,NaN,NaN,NaN,NaN,NaN

In [45]:
#Count how many cancellations each airline has

totals = cancel.groupby("airline_id").size()

print(totals)

airline_id
AA    12138
AS     1508
B6     8288
DL     8960
EV     9966
F9      966
HA      230
NK     5141
OO    10458
UA     5959
VX     1033
WN    18046
dtype: int64

In [51]:
cancelById = []
for id in airline_id:
    df = cancel[cancel["airline_id"] == id].copy()
    cancelById.append(df)

cancelById

[         year  month  day airline_id origin_airport destination_airport  \
 52       2017      1    7         AA            CLT                 ATL
 62       2017      1    9         AA            PIT                 PHX
 63       2017      1   10         AA            PIT                 PHX
 117      2017      1   15         AA            DFW                 SFO
 332      2017      1    8         AA            PHX                 OGG
 ...       ...    ...  ...        ...            ...                 ...
 5574342  2017     12   18         AA            ATL                 ORD
 5574384  2017     12   17         AA            ORD                 ATL
 5574642  2017     12   29         AA            ORD                 DFW
 5574818  2017     12   30         AA            MSP                 ORD
 5575020  2017     12   25         AA            DCA                 MIA

          scheduled_departure  actual_departure  taxi_out  wheels_off  ...  \
 52                       925               NaN       NaN         NaN  ...
 62                      1055               NaN       NaN         NaN  ...
 63                      1055            1050.0       NaN         NaN  ...
 117                     2205               NaN       NaN         NaN  ...
 332                     1445               NaN       NaN         NaN  ...
 ...                      ...               ...       ...         ...  ...
 5574342                  629               NaN       NaN         NaN  ...
 5574384                 2155               NaN       NaN         NaN  ...
 5574642                 1140               NaN       NaN         NaN  ...
 5574818                  500               NaN       NaN         NaN  ...
 5575020                 1015               NaN       NaN         NaN  ...

          cancelled  diverted  scheduled_elapsed  actual_elapsed  distance  \
 52             1.0       0.0               77.0             NaN     226.0
 62             1.0       0.0              286.0             NaN    1814.0
 63             1.0       0.0              286.0             NaN    1814.0
 117            1.0       0.0              234.0             NaN    1464.0
 332            1.0       0.0              400.0             NaN    2845.0
 ...            ...       ...                ...             ...       ...
 5574342        1.0       0.0              136.0             NaN     606.0
 5574384        1.0       0.0              110.0             NaN     606.0
 5574642        1.0       0.0              150.0             NaN     802.0
 5574818        1.0       0.0              102.0             NaN     334.0
 5575020        1.0       0.0              177.0             NaN     919.0

          airline_delay  weather_delay  air_system_delay  security_delay  \
 52                 NaN            NaN               NaN             NaN
 62                 NaN            NaN               NaN             NaN
 63                 NaN            NaN               NaN             NaN
 117                NaN            NaN               NaN             NaN
 332                NaN            NaN               NaN             NaN
 ...                ...            ...               ...             ...
 5574342            NaN            NaN               NaN             NaN
 5574384            NaN            NaN               NaN             NaN
 5574642            NaN            NaN               NaN             NaN
 5574818            NaN            NaN               NaN             NaN
 5575020            NaN            NaN               NaN             NaN

          aircraft_delay
 52                  NaN
 62                  NaN
 63                  NaN
 117                 NaN
 332                 NaN
 ...                 ...
 5574342             NaN
 5574384             NaN
 5574642             NaN
 5574818             NaN
 5575020             NaN

 [12138 rows x 24 columns],
          year  month  day airline_id origin_airport destination_airport  \
 25318    2017      1   11         DL            MDW                 ATL
 153295   2017      1    8         DL            ATL                 CRW
 153322   2017      1    8         DL            ATL                 LGA
 153323   2017      1    8         DL            LGA                 ATL
 153324   2017      1    8         DL            ATL                 LGA
 ...       ...    ...  ...        ...            ...                 ...
 5410745  2017     12   10         DL            ATL                 RSW
 5410761  2017     12   10         DL            ATL                 JFK
 5418619  2017     12   10         DL            CMH                 ATL
 5418839  2017     12   10         DL            RDU                 ATL
 5428915  2017     12   24         DL            SEA                 JFK

          scheduled_departure  actual_departure  taxi_out  wheels_off  ...  \
 25318                   1540               NaN       NaN         NaN  ...
 153295                  2127               NaN       NaN         NaN  ...
 153322                   745               NaN       NaN         NaN  ...
 153323                   755               NaN       NaN         NaN  ...
 153324                   845               NaN       NaN         NaN  ...
 ...                      ...               ...       ...         ...  ...
 5410745                 1053               NaN       NaN         NaN  ...
 5410761                  816               NaN       NaN         NaN  ...
 5418619                  700               NaN       NaN         NaN  ...
 5418839                  830               NaN       NaN         NaN  ...
 5428915                 2307            1516.0       NaN         NaN  ...

          cancelled  diverted  scheduled_elapsed  actual_elapsed  distance  \
 25318          1.0       0.0              123.0             NaN     591.0
 153295         1.0       0.0               84.0             NaN     363.0
 153322         1.0       0.0              134.0             NaN     762.0
 153323         1.0       0.0              164.0             NaN     762.0
 153324         1.0       0.0              137.0             NaN     762.0
 ...            ...       ...                ...             ...       ...
 5410745        1.0       0.0              102.0             NaN     515.0
 5410761        1.0       0.0              133.0             NaN     760.0
 5418619        1.0       0.0              110.0             NaN     447.0
 5418839        1.0       0.0               94.0             NaN     356.0
 5428915        1.0       0.0              318.0             NaN    2422.0

          airline_delay  weather_delay  air_system_delay  security_delay  \
 25318              NaN            NaN               NaN             NaN
 153295             NaN            NaN               NaN             NaN
 153322             NaN            NaN               NaN             NaN
 153323             NaN            NaN               NaN             NaN
 153324             NaN            NaN               NaN             NaN
 ...                ...            ...               ...             ...
 5410745            NaN            NaN               NaN             NaN
 5410761            NaN            NaN               NaN             NaN
 5418619            NaN            NaN               NaN             NaN
 5418839            NaN            NaN               NaN             NaN
 5428915            NaN            NaN               NaN             NaN

          aircraft_delay
 25318               NaN
 153295              NaN
 153322              NaN
 153323              NaN
 153324              NaN
 ...                 ...
 5410745             NaN
 5410761             NaN
 5418619             NaN
 5418839             NaN
 5428915             NaN

 [8960 rows x 24 columns],
          year  month  day airline_id origin_airport destination_airport  \
 81061    2017      1   26         UA            EUG                 SFO
 82562    2017      1   25         UA            LIH                 SFO
 83184    2017      1   24         UA            FLL                 EWR
 83996    2017      1   24         UA            LGA                 IAH
 84487    2017      1   23         UA            IAH                 TUL
 ...       ...    ...  ...        ...            ...                 ...
 5674013  2017     12   17         UA            EWR                 ATL
 5674141  2017     12   17         UA            IAH                 MFE
 5674255  2017     12   17         UA            SFO                 ATL
 5674264  2017     12   17         UA            SFO                 ATL
 5674477  2017     12   17         UA            EWR                 ATL

          scheduled_departure  actual_departure  taxi_out  wheels_off  ...  \
 81061                   1330               NaN       NaN         NaN  ...
 82562                   1410               NaN       NaN         NaN  ...
 83184                   1100               NaN       NaN         NaN  ...
 83996                    847               NaN       NaN         NaN  ...
 84487                   1743               NaN       NaN         NaN  ...
 ...                      ...               ...       ...         ...  ...
 5674013                 1659               NaN       NaN         NaN  ...
 5674141                 1835               NaN       NaN         NaN  ...
 5674255                 1033            1030.0       NaN         NaN  ...
 5674264                 2233               NaN       NaN         NaN  ...
 5674477                 1346               NaN       NaN         NaN  ...

          cancelled  diverted  scheduled_elapsed  actual_elapsed  distance  \
 81061          1.0       0.0               93.0             NaN     451.0
 82562          1.0       0.0              305.0             NaN    2447.0
 83184          1.0       0.0              187.0             NaN    1065.0
 83996          1.0       0.0              260.0             NaN    1416.0
 84487          1.0       0.0               92.0             NaN     429.0
 ...            ...       ...                ...             ...       ...
 5674013        1.0       0.0              155.0             NaN     746.0
 5674141        1.0       0.0               78.0             NaN     316.0
 5674255        1.0       0.0              280.0             NaN    2139.0
 5674264        1.0       0.0              272.0             NaN    2139.0
 5674477        1.0       0.0              146.0             NaN     746.0

          airline_delay  weather_delay  air_system_delay  security_delay  \
 81061              NaN            NaN               NaN             NaN
 82562              NaN            NaN               NaN             NaN
 83184              NaN            NaN               NaN             NaN
 83996              NaN            NaN               NaN             NaN
 84487              NaN            NaN               NaN             NaN
 ...                ...            ...               ...             ...
 5674013            NaN            NaN               NaN             NaN
 5674141            NaN            NaN               NaN             NaN
 5674255            NaN            NaN               NaN             NaN
 5674264            NaN            NaN               NaN             NaN
 5674477            NaN            NaN               NaN             NaN

          aircraft_delay
 81061               NaN
 82562               NaN
 83184               NaN
 83996               NaN
 84487               NaN
 ...                 ...
 5674013             NaN
 5674141             NaN
 5674255             NaN
 5674264             NaN
 5674477             NaN

 [5959 rows x 24 columns],
          year  month  day airline_id origin_airport destination_airport  \
 91949    2017      1    1         WN            DAL                 AUS
 93555    2017      1    1         WN            MSY                 HOU
 93587    2017      1    1         WN            OAK                 BUR
 94028    2017      1    1         WN            PVD                 BWI
 94454    2017      1    1         WN            SMF                 BUR
 ...       ...    ...  ...        ...            ...                 ...
 5558472  2017     12   28         WN            LGA                 MDW
 5558475  2017     12   28         WN            LGA                 MDW
 5558476  2017     12   28         WN            LGA                 MDW
 5558545  2017     12   28         WN            MCI                 MDW
 5558548  2017     12   28         WN            MCI                 MDW

          scheduled_departure  actual_departure  taxi_out  wheels_off  ...  \
 91949                    600               NaN       NaN         NaN  ...
 93555                   1525               NaN       NaN         NaN  ...
 93587                   1825               NaN       NaN         NaN  ...
 94028                   1255               NaN       NaN         NaN  ...
 94454                    930               NaN       NaN         NaN  ...
 ...                      ...               ...       ...         ...  ...
 5558472                 1215               NaN       NaN         NaN  ...
 5558475                  600               NaN       NaN         NaN  ...
 5558476                  945               NaN       NaN         NaN  ...
 5558545                 1330               NaN       NaN         NaN  ...
 5558548                 1435               NaN       NaN         NaN  ...

          cancelled  diverted  scheduled_elapsed  actual_elapsed  distance  \
 91949          1.0       0.0               60.0             NaN     189.0
 93555          1.0       0.0               75.0             NaN     302.0
 93587          1.0       0.0               65.0             NaN     325.0
 94028          1.0       0.0               80.0             NaN     327.0
 94454          1.0       0.0               70.0             NaN     358.0
 ...            ...       ...                ...             ...       ...
 5558472        1.0       0.0              155.0             NaN     725.0
 5558475        1.0       0.0              145.0             NaN     725.0
 5558476        1.0       0.0              155.0             NaN     725.0
 5558545        1.0       0.0               80.0             NaN     405.0
 5558548        1.0       0.0               80.0             NaN     405.0

          airline_delay  weather_delay  air_system_delay  security_delay  \
 91949              NaN            NaN               NaN             NaN
 93555              NaN            NaN               NaN             NaN
 93587              NaN            NaN               NaN             NaN
 94028              NaN            NaN               NaN             NaN
 94454              NaN            NaN               NaN             NaN
 ...                ...            ...               ...             ...
 5558472            NaN            NaN               NaN             NaN
 5558475            NaN            NaN               NaN             NaN
 5558476            NaN            NaN               NaN             NaN
 5558545            NaN            NaN               NaN             NaN
 5558548            NaN            NaN               NaN             NaN

          aircraft_delay
 91949               NaN
 93555               NaN
 93587               NaN
 94028               NaN
 94454               NaN
 ...                 ...
 5558472             NaN
 5558475             NaN
 5558476             NaN
 5558545             NaN
 5558548             NaN

 [18046 rows x 24 columns],
          year  month  day airline_id origin_airport destination_airport  \
 54988    2017      1   30         HA            OGG                 HNL
 55387    2017      1   16         HA            LIH                 HNL
 56212    2017      1   27         HA            HNL                 LIH
 56243    2017      1   27         HA            OGG                 HNL
 56305    2017      1   27         HA            LIH                 HNL
 ...       ...    ...  ...        ...            ...                 ...
 5440156  2017     12   25         HA            PPG                 HNL
 5440469  2017     12    1         HA            OGG                 HNL
 5440499  2017     12    1         HA            HNL                 OGG
 5440532  2017     12    4         HA            OGG                 HNL
 5440737  2017     12    2         HA            LIH                 HNL

          scheduled_departure  actual_departure  taxi_out  wheels_off  ...  \
 54988                    635               NaN       NaN         NaN  ...
 55387                    831               NaN       NaN         NaN  ...
 56212                   1518               NaN       NaN         NaN  ...
 56243                   1153               NaN       NaN         NaN  ...
 56305                   1627               NaN       NaN         NaN  ...
 ...                      ...               ...       ...         ...  ...
 5440156                 2325               NaN       NaN         NaN  ...
 5440469                 1636               NaN       NaN         NaN  ...
 5440499                 1527               NaN       NaN         NaN  ...
 5440532                 1854               NaN       NaN         NaN  ...
 5440737                 1335               NaN       NaN         NaN  ...

          cancelled  diverted  scheduled_elapsed  actual_elapsed  distance  \
 54988          1.0       0.0               35.0             NaN     100.0
 55387          1.0       0.0               32.0             NaN     102.0
 56212          1.0       0.0               41.0             NaN     102.0
 56243          1.0       0.0               38.0             NaN     100.0
 56305          1.0       0.0               34.0             NaN     102.0
 ...            ...       ...                ...             ...       ...
 5440156        1.0       0.0              325.0             NaN    2599.0
 5440469        1.0       0.0               39.0             NaN     100.0
 5440499        1.0       0.0               41.0             NaN     100.0
 5440532        1.0       0.0               38.0             NaN     100.0
 5440737        1.0       0.0               45.0             NaN     102.0

          airline_delay  weather_delay  air_system_delay  security_delay  \
 54988              NaN            NaN               NaN             NaN
 55387              NaN            NaN               NaN             NaN
 56212              NaN            NaN               NaN             NaN
 56243              NaN            NaN               NaN             NaN
 56305              NaN            NaN               NaN             NaN
 ...                ...            ...               ...             ...
 5440156            NaN            NaN               NaN             NaN
 5440469            NaN            NaN               NaN             NaN
 5440499            NaN            NaN               NaN             NaN
 5440532            NaN            NaN               NaN             NaN
 5440737            NaN            NaN               NaN             NaN

          aircraft_delay
 54988               NaN
 55387               NaN
 56212               NaN
 56243               NaN
 56305               NaN
 ...                 ...
 5440156             NaN
 5440469             NaN
 5440499             NaN
 5440532             NaN
 5440737             NaN

 [230 rows x 24 columns],
          year  month  day airline_id origin_airport destination_airport  \
 141014   2017      1    1         AS            SEA                 SMF
 141019   2017      1    1         AS            SMF                 SEA
 141055   2017      1    1         AS            SEA                 LAX
 141066   2017      1    1         AS            LAX                 SEA
 141082   2017      1    1         AS            SNA                 SEA
 ...       ...    ...  ...        ...            ...                 ...